<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none">

    <g id="<%=template_id%>" class="aw-relations-nodeSvg aw-relations-detailLevel0">
        <g class='{SDFBooleanPropertyBinding("isSelected","aw-widgets-cellListItemSelected","aw-relations-tile-node")}'>
            <rect transform="translate(0 0)" width='{SDFSizePropertyBinding("getWidthValue")}' height='{SDFSizePropertyBinding("getHeightValue")}' class="aw-widgets-cellListItemNode" stroke='{PropertyBinding("node_fill_color")}' fill='transparent'  rx="10" ry="10"></rect>
            <rect transform="translate(0 0)" width='{SDFSizePropertyBinding("getWidthValue")}' height='{SDFSizePropertyBinding("getHeightValue")}' class='{PropertyBinding("relation_node_hovered_style_svg")}' stroke='{PropertyBinding("node_fill_color")}' rx="10" ry="10"></rect>
            <rect transform="translate(0 0)" width='{SDFSizePropertyBinding("getWidthValue")}' height='{SDFSizePropertyBinding("getHeightValue")}' class='{SDFBooleanPropertyBinding("isSelected","aw-widgets-cellListItemNodeSelected","aw-graph-noeditable-area")}' stroke='{PropertyBinding("node_fill_color")}' rx="10" ry="10"></rect>
            <rect transform="translate(0 0)" width='{PropertyBinding("barWidth")}' height='{SDFSizePropertyBinding("getHeightValue")}' fill='{PropertyBinding("node_fill_color")}' rx="10" ry="10"></rect>
            <rect transform="translate(0 0)" class='{PropertyBinding("rootnode_border_style")}' width='{SDFSizePropertyBinding("getWidthValue")}' height='{SDFSizePropertyBinding("getHeightValue")}' stroke='{PropertyBinding("node_fill_color")}'></rect>
            <rect transform="translate(0 0)" width='{SDFSizePropertyBinding("getWidthValue")}' heght='{SDFSizePropertyBinding("getHeightValue")}' class="aw-graph-noeditable-area"></rect>

            <% if(nodeCategory === 'DummyNode'){ %>
                <g transform="translate(0 0)" class='{BooleanPropertyBinding("is_root", "GC_NODE_TITLE_CLASS", "GC_HIDDEN_CLASS")}'>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="17px" y="19px" width="46px" height="46px" thumbnail-id="JTThumbnail" data-sdf-content='{PropertyBinding("thumbnail_image")}'></svg>
                </g>
                <g transform="translate(0 0)" class='{BooleanPropertyBinding("is_root", "GC_HIDDEN_CLASS", "")}'>
                    <g class='{BooleanPropertyBinding("GC_COMMAND_CLASS", "GC_HIDDEN_CLASS")}'>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="17px" y="19px" width="46px" height="46px" thumbnail-id="JTThumbnail" data-sdf-content='{PropertyBinding("thumbnail_image")}'></svg>
                    </g>
                    <g class='{BooleanPropertyBinding("GC_HIDDEN_CLASS", "GC_NODE_TITLE_CLASS")}'>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="17px" y="19px" width="46px" height="46px" thumbnail-id="JTThumbnail" data-sdf-content='{PropertyBinding("thumbnail_image")}'></svg>
                    </g>
                </g>
            <% }; %>

            <g transform="translate(30 0)" class='{PropertyBinding("relation_text_hovered_style_svg")}'>
                <g class="aw-graph-wordwrap aw-widgets-cellListItem">
                    <% if(nodeCategory === 'DummyNode'){ %>
                        <text transform="translate(60 45)" class='aw-graph-autoPosition { BooleanPropertyBinding("<%=title_editable%>", "GC_NODE_MODIFIABLE_TITLE_CLASS", "GC_NODE_TITLE_CLASS") }' data-width="100%-80" data-property-name="<%=title%>"></text>
                    <% }; %>
                    <% if(nodeCategory === 'PFC_SystemElement'){ %>
                        <text transform="translate(0 24)" class='aw-graph-autoPosition { BooleanPropertyBinding("<%=title_editable%>", "GC_NODE_MODIFIABLE_TITLE_CLASS", "GC_NODE_TITLE_CLASS") }' data-width="100%-80" data-property-name="<%=title%>"></text>
                    <% }; %>

                    <g class="aw-graph-autoPosition" transform="translate(0 40)">
                        <% if(nodeCategory === 'PFC_SystemElement'){ %>
                        <text class='aw-graph-autoPosition { BooleanPropertyBinding("<%=Sequence_editable%>", "GC_NODE_PROPERTY_CLASS") }' data-property-name="<%=Sequence_editable%>" data-width="100%-80"></text>
                        <% }; %>
                    </g>
                    <g class="aw-graph-autoPosition" transform="translate(65 40)">
                        <% if(nodeCategory === 'PFC_SystemElement'){ %>
                        <text class='aw-graph-autoPosition { BooleanPropertyBinding("<%- property_list[2] %>_editable", "GC_NODE_MODIFIABLE_PROPERTY_CLASS", "GC_NODE_PROPERTY_CLASS") }' data-property-name="<%- property_list[2] %>" data-width="100%-80"></text>
                        <% }; %>
                    </g>
                    <g class="aw-graph-autoPosition" transform="translate(45 90)">
                        <% if(nodeCategory === 'PFC_SystemElement'){ %>
                            <text class='aw-graph-autoPosition { BooleanPropertyBinding("<%- property_list[0] %>_editable", "GC_NODE_MODIFIABLE_PROPERTY_CLASS", "GC_NODE_TITLE_CLASS") }' data-property-name="<%- property_list[0] %>" data-width="100%-80"></text>
                        <% }; %>
                    </g>

                </g>
            </g>

            <g transform="translate(0 0)" class='{BooleanPropertyBinding("is_root", "GC_HIDDEN_CLASS", "")}'>
                <% if(nodeCategory === 'PFC_SystemElement' || nodeCategory === 'DummyNode'){ %>
                 <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="28px" y="75px" width="40px" height="40px" thumbnail-id="JTThumbnail" data-sdf-content='{PropertyBinding("process_type_icon")}'></svg>
                 <% }; %>
             </g>
        </g>
    </g>
</svg>
