//@<COPYRIGHT>@
//==================================================
//Copyright 2019.
//Siemens Product Lifecycle Management Software Inc.
//All Rights Reserved.
//==================================================
//@<COPYRIGHT>@

.aw-capa-ishikawaCauseCellTitle {
    vertical-align: top;
    display: inline-block;
    max-width: 214px;
    white-space: nowrap;
    overflow: hidden;
    font-size: $fontsize_large;
    font-weight: bold;
}

.aw-capa-rootcauseIndicator {
    margin-left: 30px;
}

.aw-capa-coeActionTableCommandBar {
    width: 100%;
}

.aw-capa-infoIcon{
    width: 19px;
    height: 19px;
    float: right;
    vertical-align: middle;
    margin-top: 7px;
    margin-bottom: 0;
}

.aw-capa-createScheduleWidget {
    margin-top: -5px;
    margin-left: 15px;
    padding: 4px 15px 0 0;
}

.aw-capa-required {
    font-size: $fontsize_large;
    font-weight: normal;
    font-style: italic;
    clear: both;
    float: left;
    width: 100%;
    opacity: 0.5;
}

.aw-capa-createScheduleTabs {
    padding: 16px 16px 16px;
}
