// Copyright 2021 Siemens Product Lifecycle Management Software Inc.
/* snapshottool */

.aw-viewersnapshot-snapshotPanel {
    width: 100%;
}

.aw-viewersnapshot-snapshotNameContainer {
    width: 75%;
}

.aw-viewersnapshot-snapshotCommandBarContainer {
    width: 25%;
}

.aw-viewersnapshot-snapshotName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.aw-viewersnapshot-snapshotCommandBar {
    width: 100%;
}

.aw-viewersnapshot-snapshotPanel ul {
    @include flex-direction(row);
    @include flex-wrap(wrap);
}

.aw-viewersnapshot-snapshotPanel
.aw-widgets-cellListWidget .aw-widgets-cellListItem,
.aw-layout-panelMain .aw-layout-panelBody .aw-viewersnapshot-snapshotPanel
.aw-widgets-cellListWidget .aw-widgets-cellListItem {
    width: 44%;
    max-width: 128px;
    padding: 2px;
    margin: 4px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
}

.aw-viewersnapshot-snapshotPanel .aw-widgets-cellListWidget .aw-widgets-cellListItem .aw-widgets-cellListItemCell{
    width: 100%;
    @include flexbox();
    @include flex-direction(column);
}

.aw-viewersnapshot-snapshotPanel .aw-widgets-cellListWidget .aw-widgets-cellListItem .aw-widgets-cellListItemCell .aw-widget-pic,
.aw-viewersnapshot-snapshotPanel .aw-widgets-cellListWidget .aw-widgets-cellListItem .aw-widgets-cellListItemCell .aw-widget-pic img{
    height: 128px;
}

.aw-viewersnapshot-snapshotPanel .aw-widgets-propertyNonEditValue{
    padding-top: 9px;

    span.aw-jswidgets-text{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
}
