<div class="aw-search-cell" ng-if="vmo.snippets">
    <div class="aw-widgets-cellListCellProperties">
        <div ng-if="vmo.snippets.fileContentSnippet">
            <label class="aw-widgets-propertyValue aw-base-small" aria-label="{{vmo.snippets.fileContentSnippet}}" title="{{vmo.snippets.fileContentSnippet}}" aw-highlight-property-html display-val="vmo.snippets.fileContentSnippet"></label>
        </div>
        <div ng-if="vmo.snippets.fileNameSnippet">
            <aw-icon class="aw-search-fileNameSnippetIcon" icon-id="indicatorAttachment" title="{{i18n.fileNameSnippetTitle}}"></aw-icon>
            <label class="aw-widgets-propertyValue aw-base-small aw-search-padding" aria-label="{{vmo.snippets.fileNameSnippet}}" title="{{vmo.snippets.fileNameSnippet}}" aw-highlight-property-html display-val="vmo.snippets.fileNameSnippet"></label>
        </div>
    </div>
</div>
