// Copyright 2020 Siemens Product Lifecycle Management Software Inc.

.aw-solutionvariantjs-popupColor {
    border: 1px solid;
    border-radius: 3px;
    border-left-width: 4px;
    border-left-style: solid;
    margin-bottom: 8px;
    max-width: 470px;
    word-break: break-word;
}

.aw-solutionvariantjs-previewLink {
    border-bottom: 1px solid;
    margin: 4px 4px;
}