<div class="aw-widgets-propertyContainer">
    <aw-property-label prop="prop" ></aw-property-label>
    <div class="aw-markup-gdntSymbols">
        <span ng-repeat="v in list" title="{{v.propDisplayValue}}" ng-click="selected(v)">
            {{v.propInternalValue}}
        </span>
    </div>
    <br/>
    <table cellpadding="2" class="aw-markup-gdntFrame">
        <tr ng-repeat="row in array">
            <td ng-if="row[0]" rowspan="{{row[0]}}">
                <input type="text" size="2" ng-model="row[1]" ng-change="updateDbValue()" ng-focus="setFocus($event)" autofocus/>
            </td>
            <td><input type="text" size="50" ng-model="row[row[0]?2:1]" ng-change="updateDbValue()" ng-focus="setFocus($event)"/></td>
            <td><input type="text" size="2" ng-model="row[row[0]?3:2]" ng-change="updateDbValue()" ng-focus="setFocus($event)"/></td>
            <td><input type="text" size="2" ng-model="row[row[0]?4:3]" ng-change="updateDbValue()" ng-focus="setFocus($event)"/></td>
            <td><input type="text" size="2" ng-model="row[row[0]?5:4]" ng-change="updateDbValue()" ng-focus="setFocus($event)"/></td>
        </tr>
    </table>
    <aw-command-bar anchor="aw_markupGdntCommands" alignment="HORIZONTAL" context="array"></aw-command-bar>
</div>
