// Copyright 2018 Siemens Product Lifecycle Management Software Inc.
.aw-qualityactionmgmt-topPanel {
    height: 100%;
    width: 100%;
}

.aw-qualityactionmgmt-loadingLabel {
    font-size: $fontsize_small;
}
