// Copyright 2020 Siemens Product Lifecycle Management Software Inc.
/* begin requirementsmanager */

.aw-requirementsmanager-tiles div.aw-tile-tileGroup{
    padding: 40px 0 0 80px;
    max-width: unset;
}

.aw-requirementsmanager-tiles div.aw-flex-row{
    margin-top: 0;
}

.aw-requirementsmanager-tiles{
    height: 18vh;
}

.aw-splm-tableCellTop div.aw-requirementsmanager-summaryTableContent{ 
    float:left;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
}

.aw-splm-tableCellTop img.aw-requirementsmanager-summaryTableIcon {
    padding-left: 5px;
}
.aw-requirementsmanager-chartDivison {
    display: flex;
    width: 100%;
}

aw-chart.aw-requirementsmanager-chart {
    margin: 20px;
}

aw-chart.aw-requirementsmanager-chart text.highcharts-title tspan {
    font-weight: bold;
}

.aw-requirementsmanager-contextSection{
    height: calc(100vh - 270px);
    padding: 10px 10px 0 10px;
}

.aw-requirementsmanager-chartSection{
    height: 33vh;
}

.aw-requirementsmanager-tableSection{
    height: 24vh;
}

.aw-requirementsmanager-verticalSplitter {
    cursor: col-resize;
}

.aw-requirementsmanager-dashboard label.aw-widgets-propertyLabel{
    padding-left: 8px;
}
