// Copyright 2019 Siemens Product Lifecycle Management Software Inc.

aw-2d-viewer {
    width: 100%;
    min-width: 260px;
}

// center the decorator
.aw-viewer-viewer .aw-commands-cellDecorator{
    top: 0;
    right: 0;
}

.aw-commands-cellDecorator .aw-2dviewerjs-pagenumber {
    position: relative;
    font-size: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


.aw-2dviewerjs-viewer2DParentContainer {
    position: relative;
}

.aw-2dviewerjs-viewer2DContainer .aw-viewerjs-header {
    flex: auto
}
.aw-2dviewerjs-viewer2DChildContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.aw-2dviewerjs-loadProgressContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 99;
}

.aw-2dviewerjs-emmLoadProgressContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 99;
}

.aw-2dviewerjs-loadProgress {
    @include align-self(flex-end);
    width: 4%;
    height: 0;
    padding-bottom: 4%;
    pointer-events: none;
}

.aw-2dviewerjs-emmLoadProgress {
    @include align-self(center);
    width: 8%;
    height: 0;
    padding-bottom: 8%;
    pointer-events: none;
}

.aw-viewerjs-fullViewActiveBody .aw-2dviewerjs-viewer2DContainer .aw-layout-headerProperties.aw-viewerjs-elementPosition {
    padding: 0 0 0 0;
}

.aw-2dviewerjs-viewer2DContainer .aw-layout-headerProperties.aw-viewerjs-elementPosition {
    margin-bottom: 4px;
}
