/* Copyright 2019 Siemens Product Lifecycle Management Software Inc. */

.aw-qualityFmea-formsheet .ui-iggrid tr.ui-ig-altrecord {
    background-color: $Siemens_Snow;
}

.aw-qualityFmea-formsheet .ui-iggrid .ui-iggrid-table>tbody>tr>td:last-child,
.ui-iggrid .ui-iggrid-tablebody>tr>td:last-child,
.ui-iggrid thead .ui-iggrid-editingcell:last-child {
    border-right: 1px solid $PL_Black;
}

.aw-qualityFmea-formsheet .ui-state-focus,
.ui-iggrid-selectedCell {
    background: $Siemens_Blue_17;
    border-color: $PL_Black;
}

.aw-qualityFmea-formsheet .ui-iggrid-physicalmergedcell .ui-iggrid-activecell .ui-state-focus {
    background: $Siemens_Blue_17;
    color: $PL_Black;
    border-color: $Siemens_Blue_17;
}

.aw-qualityFmea-formsheet .ui-iggrid .ui-ig-altrecord td.ui-state-active,
.ui-iggrid .ui-ig-altrecord th.ui-iggrid-rowselector-class.ui-state-active,
.ui-iggrid tbody .ui-ig-altrecord .ui-iggrid-mergedcell.ui-state-active,
.ui-iggrid tbody .ui-ig-altrecord .ui-iggrid-mergedcellstop.ui-state-active,
.ui-iggrid tbody .ui-iggrid-mergedcell.ui-state-active,
.ui-iggrid tbody .ui-iggrid-mergedcellstop.ui-state-active,
.ui-iggrid td.ui-state-active,
.ui-iggrid th.ui-iggrid-rowselector-class.ui-state-active {
    background: $Siemens_Blue_14 !important;
    color: $PL_Black;
    border-right: $PL_Black;
    border-top: $PL_Black;
}

.aw-qualityFmea-formsheet .ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid $Siemens_Blue_17;
    background-color: $Siemens_Blue_17;
    color: $PL_Black;
}

.aw-qualityFmea-formsheet .ui-iggrid .ui-ig-altrecord td.ui-state-active,
.ui-iggrid .ui-ig-altrecord th.ui-iggrid-rowselector-class.ui-state-active,
.ui-iggrid tbody .ui-ig-altrecord .ui-iggrid-mergedcell.ui-state-active,
.ui-iggrid tbody .ui-ig-altrecord .ui-iggrid-mergedcellstop.ui-state-active,
.ui-iggrid tbody .ui-iggrid-mergedcell.ui-state-active,
.ui-iggrid tbody .ui-iggrid-mergedcellstop.ui-state-active,
.ui-iggrid td.ui-state-active,
.ui-iggrid th.ui-iggrid-rowselector-class.ui-state-active {
    background: $Siemens_Blue_17;
    color: $PL_Black;
    border-color: $PL_Black;
}

.aw-qualityFmea-formsheet .ui-widget-header {
    color: $PL_Black;
    background-color: $Siemens_Snow;
}

.aw-qualityFmea-formsheetColumnHeaderRemarks {
    border-right: 1px solid $PL_Black !important;
}

.aw-qualityFmea-formsheet .ui-iggrid th {
    border-left: 1px solid $PL_Black;
    background-color: $PL_Black_24;
}

.aw-qualityFmea-formsheet .ui-iggrid table td,
.ui-iggrid table th {
    border-left: 1px solid $PL_Black !important;
    border-bottom: 1px solid $PL_Black;
}

.aw-qualityFmea-formsheet .ui-iggrid table td:hover {
    background-color: $Siemens_Blue_10_Old;
}


.aw-qualityFmea-netViewHover {
    fill-opacity: unset;
    fill: $Siemens_Blue_24;
}
