// Copyright 2018 Siemens Product Lifecycle Management Software Inc.
.aw-qualityFmea-partialOpacity div.aw-widgets-cellListCellImage {
    opacity: .2
}

.aw-qualityFmea-hint {
    font-size: $fontsize_large;
    font-weight: normal;
    font-style: italic;
    clear: both;
    float: left;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    padding: 0 0 20px 0;
}

.aw-qualityFmea-xrtContainerElem {
    max-height: max-content;
}

.aw-qualityFmea-formsheetHeaderWidth {
    width: 100%
}

.aw-qualityFmea-formsheetHeaderExpandCollapseIcon .aw-base-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    padding: 5px 0 0 0;
}

.aw-qualityFmea-formsheetHeaderRowBorder {
    border: 1px solid;
}

.aw-qualityFmea-formsheetHeaderRowBorderRightLeftBottom {
    border-style: solid solid solid;
    border-width: 1px;
}

.aw-qualityFmea-formsheetHeaderRowBorderBottom {
    border-bottom: 1px solid
}

.aw-qualityFmea-formsheetHeaderRowBorderLeft {
    border-left: 1px solid
}

.aw-qualityFmea-formsheetHeaderLabel {
    padding: 2px 0 0 2px;
}

.aw-qualityFmea-formsheetHeaderLabelHeader2 {
    padding: 8px 0 0 7px;
    font-weight: bold;
}

.aw-qualityFmea-formsheetHeaderLabelHeader1 {
    padding: 8px 0 0 0;
    font-weight: bold;
    font-size: medium;
}

.aw-qualityFmea-formsheetHeaderPropertyValue aw-property-label {
    max-width: fit-content;
}

.aw-qualityFmea-columnOverflow {
    overflow: auto;
}

.aw-qualityFmea-formsheetColumnHeaderText .ui-iggrid-headertext {
    font-size: $fontsize_normal;
}

.aw-qualityFmea-formsheetColumnHeaderVerticleText .ui-iggrid-headertext {
    font-size: $fontsize_normal;
}

.aw-qualityFmea-formsheetColumnHeaderRemarks {
    font-size: $fontsize_normal;
    white-space: initial;
}

.aw-qualityFmea-formsheet .ui-iggrid th {
    border-right: none;
    white-space: normal;
    font-size: $fontsize_normal;
    font-weight: bold;
}

.aw-qualityFmea-formsheet .ui-iggrid table td,
.ui-iggrid table th {
    text-overflow: initial;
    font-size: $fontsize_normal;
}

.aw-qualityFmea-formsheet tr td {
    white-space: normal;
    word-wrap: break-word;
}

.aw-qualityFmea-formsheet tr th {
    text-transform: none;
}

.aw-qualityFmea-formsheet span.ui-iggrid-headertext {
    font-size: $fontsize_normal;
    min-height: 18px;
    font-weight: bold;
}

.ui-iggrid {
    height: inherit !important; /*Using 3rd party library iggrid. making iggrid container height important so it don't get override in side library. */
}

.aw-qualityFmea-formsheetBullets {
    list-style-position: outside;
    list-style-type: var(--listStyleType);
    margin: 10px;
    text-align: left;
    word-wrap: break-word ;
    padding-left: 10px;
}

.aw-qualityFmea-formsheetBullets lh{
    font-weight: bold;
}

.aw-qualityFmea-helpIcon {
    width: 20px;
    height: 20px;
    float: right;
    vertical-align: middle;
}

.aw-qualityFmea-helpText {
    font-weight: 600;
}

.aw-requirements-importFmeaPanel .aw-xrt-thumbnailImagePanel .aw-base-icon{
    height: 24px;
    width: 24px;
}

@media (max-height: 880px) {
    .aw-qualityFmea-formsheetContainerHeight {
        height: 40vh;
    }
}

@media (min-height: 881px) {
    .aw-qualityFmea-formsheetContainerHeight {
        height: 53vh;
    }
}

.aw-qualityFmea-swaTable{
    max-height: 301px;
    width: 100%;
}

.aw-qualityFmea-scrollbar{
    overflow: auto;
}
